.common_card {
  width: 100%;
  height: 100%;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.common_card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
