.footer {
    /* margin-top: 4.5rem; */
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    background-color: var(--grey-color);
  }
  
  .copyrights {
      flex-grow: 1;
      font-size: 1rem;
      line-height: 1;
      font-weight: 500;
  }