.work_card {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.work_card:hover .work_card-header {
  transform: scale(1.02);
  transition: all 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.work_card-header {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.work_card-header img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.work_card-header .overlay {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  transition: all 0.3s ease;

  background: rgba(47, 47, 47, 0.288);
}

.work_card-header:hover .overlay {
  opacity: 1;
  transition: all 0.3s ease;
}

.work_card-header .overlay a {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;

  color: var(--txt-light);
  padding: 0.5rem 1rem;

  margin: 0.5rem 0;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.488);
  border-radius: 8px;
}

.work_card-header .overlay a:hover {
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.688);
}

.work_card-header .overlay svg {
  margin-right: 6px;
}

.work_card-body {
  padding: 1rem;
}
.work_card-body h4,
.work_card-body p {
  margin: 0;
  line-height: 1;
}

.work_card-body h4 {
  font-weight: 700;
  margin-bottom: 6px;
}
